* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
}

body {
  /* background:lightblue url("../media/milky-way-2695569_640.jpg") no-repeat fixed center; */
  background-image: url("../media/hubble-heic1509a.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section {
  width: 100%;
  padding: 50px;
}

.embedded-video, .hosted-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embedded-video iframe,
.embedded-video object,
.embedded-video embed,
.hosted-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

audio {
  display: block;
  /* width: 80%; */
  margin: 0 auto;
}